/* auth-styles.css */

.auth-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #1a1a1a;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.auth-content {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    background-color: #333;
    border-radius: 8px;
}

.auth-form-container {
    padding: 20px;
}

.auth-form {
    display: flex;
    flex-direction: column;
}

.auth-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
    font-size: 24px;
}

.auth-form input[type="text"],
.auth-form input[type="email"],
.auth-form input[type="password"],
.auth-form button {
    margin: 10px 0;
    padding: 15px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    background-color: #444;
    color: #fff;
    transition: background-color 0.3s ease;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.auth-form input[type="text"]:focus,
.auth-form input[type="email"]:focus,
.auth-form input[type="password"]:focus {
    outline: none;
    background-color: #555;
}

.auth-form button {
    cursor: pointer;
    background-color: #007bff;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.auth-form button:hover {
    background-color: #0056b3;
}

.auth-form input[type="file"] {
    display: none;
}

label[for="file-upload"] {
    display: inline-block;
    padding: 15px;
    margin: 10px 0;
    cursor: pointer;
    background-color: #444;
    color: #fff;
    border-radius: 6px;
    font-size: 16px;
    text-align: center;
    transition: background-color 0.3s ease;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

label[for="file-upload"]:hover {
    background-color: #555;
}

a{
    color: #007bff;
    text-decoration: none;
}

.error-message {
    display: flex;
    align-items: center;
    gap: 3px;
    margin-left: 10px;
    color: #dc3545;
    font-size: 15px;
    text-align: end;
}