.chat-window-edit{
    background-color: #1c1c1c;
    color: white;
    border-left: 1px solid #2a2a2a;
    flex: 3;
    border-radius: 0 10px 10px 0;
    height: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-direction: column;
    padding: 60px;
    gap: 40px 20px;
    flex-wrap: wrap;
    align-items: flex-start;
}

.edit-chat-form,
.group-mem-section,
.add-user-group-section {
    background-color: #1c1c1c;
    color: white;
    padding: 30px;
    border-radius: 10px;
    width: 480px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    gap: 14px;
    height: fit-content;
}

.add-user-group-section{
    position: relative;
    height: 130px;
}

.group-mem-section{
    min-height: 200px;
}

.chat-window-edit .back-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    border: 0;
    background-color: transparent;
    color: white;
    font-size: 24px;
    padding: 9px 12px;
    border-radius: 50%;
    cursor: pointer;
}


.edit-chat-form .back-btn:hover {
    transition: ease-in-out 0.3s;
    background-color: #555;
}

.group-mem-section-header {
    display: flex;
    justify-content: space-between;
}

.group-name-view-mode.view-mode p {
    font-size: 18px;
    margin: 0;
    padding: 8px 6px 12px;
}

.group-name-view-mode.view-mode button {
    font-size: 16px;
}

.group-name-edit-mode.edit-mode input {
    font-size: 18px;
}

.group-mem-list {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.group-mem {
    display: flex;
    align-items: center;
    gap: 20px;
    /* margin-bottom: 16px; */
}

.group-mem-profile img,
.edit-chat-form  .recommendations img {
    width: 54px;
    height: 54px;
    object-fit: cover;
    border-radius: 50%;
    /* border: 2px solid #007bff; */
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.recommendations .loader,
.group-mem-section .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
}

.recommendations .loader{

    width: 26px;
    height: 26px;
    top: 116px;
    left: 50%;
    transform: translateX(-50%);
}
.group-mem-details {
    flex: 1;
}

.group-mem-details h4,
.edit-chat-form .recommendations h4 {
    font-size: 18px;
    margin: 0;
    color: white;
}

.group-mem-details p {
    font-size: 16px;
    margin: 4px 0;
    color: #bbb;
}


.user-control-btns {
    display: flex;
    gap: 10px;
}

.remove-user-btn,
.make-admin-btn,
.add-user-group {
    padding: 6px 8px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

.remove-user-btn:hover {
    background-color: #c82333;
}

.make-admin-btn {
    padding: 6px 10px;
    background-color: #007bff;
}

.add-user-group {
    background-color: #007bff;
}

.add-user-group:hover,
.make-admin-btn:hover {
    background-color: #0056b3;
}

.group-mem span {
    font-size: 14px;
    color: #007bff;
    text-transform: uppercase;
    padding: 6px 12px;
    border-radius: 20px;
    background-color: rgba(0, 123, 255, 0.1);
}

/*Add user to group*/

.add-user-group-section {
    margin-bottom: auto; 
    max-height: 300px;
     /* Optional: Set max-height if needed */
}

.user-add-user {
    display: flex;
    align-items: center;
    width: 100%;
}

.user-add-user h4 {
    flex: 1;
}

.add-user-group-section input {
    width: 100%;
    padding: 8px;
    border: none;
    background-color: #3a3a3a;
    color: white;
    outline: none;
    font-size: 14px;
    transition: border 0.05s;
    border-radius: 10px;
}

.add-user-group-section input:hover {
    border-bottom: 2.5px solid #007bff;
}

