.email-confirmation {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #1a1a1a;
}

.confirm-container {
    width: 100%;
    max-width: 400px;
    padding: 60px 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    background-color: #333;
    border-radius: 8px;
    margin: 0 auto;
    text-align: center;
}

.confirm-container img {
    width: 200px;
    height: 200px;
}

.confirm-container h1 {
    font-size: 20px;
    margin: 20px 0;
}

.confirm-container hr{
    border: 1px solid #444;
    width: 80%;
    margin:0 auto;
}

.confirm-container-details {
    text-align: center;
    padding: 0 20px;
    margin-top: 18px;
    margin-bottom: 18px;
}

.confirm-container p{
    margin-top: 6px;
}

.confirm-container p span{
    color: #007bff;
    font-weight: 600;
}

.confirm-container button {
    margin: 16px 0 6px;
    padding: 12px 14px;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    background-color: #444;
    color: #fff;
    transition: background-color 0.3s ease;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    background-color: #007bff;
    transition: background-color 0.3s ease;
}

.confirm-container button:hover {
    background-color: #0056b3;
}