@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');



body {
    background-color: #1a1a1a;
    color: #fff;
    font-family: "Lato";
    margin: 0;
    padding: 0;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button {
    letter-spacing: 1px;
}
/* Global CSS Overrides for Ant Design Notifications */
.ant-notification {
    background-color: #333 !important;
    color: #fff !important;
}

.ant-notification-notice {
    background-color: #333 !important;
    color: #fff !important;
    border: 1px solid #444 !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) !important;
}

.ant-notification-notice .ant-notification-notice-content {
    background-color: #333 !important;
    color: #fff !important;
}

.ant-notification-notice .ant-notification-notice-message {
    color: #fff !important;
    font-weight: 700 !important; /* Increase font weight for message */
}

.ant-notification-notice .ant-notification-notice-description {
    color: #ccc !important;
    font-weight: 400 !important; /* Increase font weight for description */
}

.ant-notification-notice .ant-notification-notice-close {
    color: #007bff !important;
}

.ant-notification-notice .ant-notification-notice-close:hover {
    color: #0056b3 !important;
}
